@import "../../../global";

.home-decor {
    h2 {
        font-size: 30px;
        font-weight: normal;
        text-align: center;
    }
}

.page-header {
    @include variable(max-width, --SITE-WIDTH, $ie-site-width);
    margin: 0 auto;
    
    h1 {
        padding: 0 10px 20px;
    }
}

.tiles {
    width: 1440px;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1440px;
    display: grid;
    grid-gap: 20px;
    list-style-type: none;
    padding: 0 10px;
    position: relative;

    li {
        background-color: #fff;
        outline: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        img {
            max-width: 100%;
            margin: 0 auto;
        }
        .title {
            padding: 30px 0 10px;
            font-size: 22px;
            text-align: left;
        }
        .product {
            padding: 0 0 10px;
            text-align: left;
        }
        .price {
            padding: 0 0 20px;
            text-align: left;
        }
        .cta {
            background-color: #3071a9;
            color: #fff;
            display: block;
            text-decoration: none;
            padding: 10px;
        }
    }
}

.collection {

    .container {
        .banner {
            background-color: #eee;
            height: 265px;
            overflow: hidden;
            padding: 60px 0 0;
            position: relative;
            width: 100%;

            p {
                max-width: 300px;
                margin: 0 auto;
                line-height: 1.5;
                text-align: center;
            }
        }

        .tiles {
            margin: -70px auto 0;
            grid-template-columns: repeat(4, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                    box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                }
            }
        }
    }
}

.featured {
    .container {
        padding: 60px 0 0;

        .tiles {
            grid-template-columns: repeat(3, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,.2);
                    box-shadow: 0 10px 30px rgba(0,0,0,.2);
                    -webkit-transform: translateY(-4px) !important;
                    transform: translateY(-4px) !important;
                }
            }
        }
    }
}

.top-sellers {
    .container {
        padding: 60px 0 0;

        .tiles {
            grid-template-columns: repeat(4, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                    box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                }
            }
        }
    }
}