@import "../../../global";

.home-decor {
    h2 {
        font-size: 30px;
        font-weight: normal;
        text-align: center;
    }
}

.page-header {
    @include variable(max-width, --SITE-WIDTH, $ie-site-width);
    margin: 0 auto;
    
    h1 {
        padding: 0 10px 20px;
    }
}

.tiles {
    width: 1440px;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1440px;
    display: grid;
    grid-gap: 20px;
    list-style-type: none;
    padding: 0 10px;
    position: relative;

    li {
        background-color: #fff;
        outline: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        img {
            max-width: 100%;
            margin: 0 auto;
        }
        .title {
            padding: 30px 0 10px;
            font-size: 22px;
            text-align: left;
        }
        .product {
            padding: 0 0 10px;
            text-align: left;
        }
        .price {
            padding: 0 0 20px;
            text-align: left;
        }
        .cta {
            background-color: #3071a9;
            color: #fff;
            display: block;
            text-decoration: none;
            padding: 10px;
        }
    }
}

.collection {
    margin-bottom: 30px;

    .container {
        .banner {
            background-color: #eee;
            height: 265px;
            overflow: hidden;
            padding: 60px 0 0;
            position: relative;
            width: 100%;

            p {
                max-width: 300px;
                margin: 0 auto;
                line-height: 1.5;
                text-align: center;
            }
        }

        .tiles {
            margin: -70px auto 0;
            grid-template-columns: repeat(4, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                    box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                }
            }
        }
    }
}

.featured {
    .container {
        margin-bottom: 120px;
        padding: 60px 0 0;

        .tiles {
            grid-template-columns: repeat(3, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,.2);
                    box-shadow: 0 10px 30px rgba(0,0,0,.2);
                    -webkit-transform: translateY(-4px) !important;
                    transform: translateY(-4px) !important;
                }
            }
        }
    }
}

.top-sellers {
    .container {
        padding: 120px 0 0;

        .tiles {
            grid-template-columns: repeat(4, 1fr);
            li {
                -webkit-transition: box-shadow .35s ease, transform .35s ease;
                transition: box-shadow .35s ease, transform .35s ease, opacity .6s linear;
                will-change: transform, opacity;
                &:hover {
                    -webkit-box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                    box-shadow: 0 25px 30px -20px rgba(0,0,0,.2);
                }
            }
        }
    }
}

.banner-mkting {
    background-color: #E3F0DA;
    padding: 45px 0;

    .content {
        margin: 0 auto;
        max-width: 1440px;
        min-width: 0;
        width: 100%;

        > .copy {
            margin: 0 auto;
            max-width: 1190px;
            text-align: center;

            h3 {
                font-size: 30px;
                font-weight: normal;
                line-height: 36px;
            }
            p {
                line-height: 24px;
                margin-bottom: 48px;
            }
        }

        .tiles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;
            text-align: center;

            > div {

                .image {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    height: 96px;
                    margin-bottom: 8px;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                .copy {
                    h4 {
                        font-size: 24px;
                        font-weight: normal;
                        line-height: 29px;
                        margin-bottom: 4px;
                        padding: 0 30px;
                    }
                    p {
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

.shop-by-products {
    margin: 0 auto 75px;
    max-width: 1440px;
    min-width: 0;
    width: 100%;
    .title {
        color: #333333;
        font-size: 30px;
        font-weight: normal;
        line-height: 36px;
        text-align: center;
    }
    .products_list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 16px;
        padding: 0;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.products_list_item {
    padding: 22px;
    border: 1px solid #CCCCCC;
    transition: box-shadow .35s ease;
    will-change: transform, opacity;
    &:hover {
        box-shadow: 0 25px 30px -20px rgba(0, 0, 0, .2);
    }
    .item_img {
        height: 80%;
        img {
            width: 100%;
        }
    }
    .item_name {
        color: #333333;
        font-size: 16px;
        line-height: 24px;
    }
    .item_pricing {
        color: #707070;
        font-size: 16px;
        line-height: 24px;
    }
}

.banner-behind {
    height: 295px;
    background-image: url(https://media.gettyimages.com/photos/torero-scales-wall-manet-edouard-1864-picture-id973787966);
    background-size: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    .title {
        font-size: 30px;
        font-weight: normal;
        line-height: 36px;
        color: #fff;
    }
}