/* COSUS THEME */
$ie-site-width: 1440px;

$ie-page-bkg: #eee;
$ie-header-bkg: #eee;
$ie-navbar-bkg: #3081a9;
$ie-content-bkg: #fff;
$ie-footer-subtitle: #333;
$ie-footer-link: #777;

:root {
    --site-width: 1440px;

    --page-bkg: #eee;
    --header-bkg: #eee;
    --navbar-bkg: #3071a9;
    --content-bkg: #fff;
    --footer-subtitle: #333;
    --footer-link: #777;
}
