/* SAMUS THEME */

:root {
    --site-width: 1440px;

    --page-bkg: #69a752;
    --header-bkg: #084c8b;
    --navbar-bkg: #69a752;
    --content-bkg: #fff;
    --footer-subtitle: #fff;
    --footer-link: #fff;
}