@import "../../global";

#marketing-workflow {
  @include variable(max-width, --SITE-WIDTH, 1440px);
  text-align: center;
  margin: 0 auto;
}

.marketing-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  padding: 0;
  figure {
    img {
      max-width: 100%;
    }
    figcaption {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 767px) {
  .marketing-lists {
    grid-template-columns: 1fr;
  }
}