:root {
	--SITE-WIDTH: var(--site-width, 1190px);

	--PAGE-BKG: var(--page-bkg, #eee);
	--HEADER-BKG: var(--header-bkg, #eee);
	--NAVBAR-BKG: var(--navbar-bkg, #3071a9);
	--CONTENT-BKG: var(--content-bkg, #fff);
	--FOOTER-SUBTITLE: var(--footer-subtitle, #333);
	--FOOTER-LINK: var(--footer-link, #777);

	/* THEMING */
	/* Default */

	--site-width: 1440px;

	--page-bkg: #eee;
	--header-bkg: #eee;
	--navbar-bkg: #3071a9;
	--content-bkg: #fff;
	--footer-subtitle: #333;
	--footer-link: #777;


	/* SAMUS */
	/*
	--site-width: 1440px;

	--page-bkg: #69a752;
	--header-bkg: #084c8b;
	--navbar-bkg: #69a752;
	--content-bkg: #fff;
	--footer-subtitle: #fff;
	--footer-link: #fff;
	*/
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.App {
}

body {
	background-color: #eee;
	background-color: var(--PAGE-BKG);
}

header {
	background-color: #eee;
  background-color: var(--HEADER-BKG);
  padding: 0;
}

main {
	background-color: #fff;
	background-color: var(--CONTENT-BKG);
	padding: 20px 0;
	h1 {
		margin: 0;
	}
}

.nav-main {
	max-width: 1440px;
	max-width: var(--SITE-WIDTH);
  margin: 0 auto;

  .logo {
  	display: inline-block;

  	img {
			padding: 10px;
			max-width: 200px;
    }
  }
}

