@import "../../global";

:root {
	--SITE-WIDTH: var(--site-width, 1190px);

	--PAGE-BKG: var(--page-bkg, #eee);
	--HEADER-BKG: var(--header-bkg, #eee);
	--NAVBAR-BKG: var(--navbar-bkg, #3071a9);
	--NAVBAR-TEXT: var(--navbar-text, #fff);
	--CONTENT-BKG: var(--content-bkg, #fff);
	--FOOTER-SUBTITLE: var(--footer-subtitle, #333);
	--FOOTER-LINK: var(--footer-link, #777);

	--MOBILENAV-BKG: var(--mobilenav-bkg, #fff);
	--MOBILENAV-TEXT: var(--mobilenav-text, #444);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.App {
}

body {
	@include variable(background-color, --PAGE-BKG, $ie-page-bkg);
}

header {
	@include variable(background-color, --HEADER-BKG, $ie-header-bkg);
  padding: 0;
}

main {
	@include variable(background-color, --CONTENT-BKG, $ie-content-bkg);
	display: block;
	padding: 20px 0;
	h1 {
		margin: 0;
	}
}

.header-main {
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	@include variable(max-width, --SITE-WIDTH, $ie-site-width);
  margin: 0 auto;

  .logo {
  	display: inline-block;

  	img {
			padding: 10px;
			max-width: 200px;
    }
	}
}

