.banner-scroll {

  margin-bottom: 30px;

  .nav {
    font-size: 35px;
    font-family: arial;
    padding: 40px 0 20px 0;
    text-align: center;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
    color: #444;
  }
  #scene {
    width: 1440px;
    height: 410px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.03);
    transition: all 0.5s ease-out;
    display: block;
    width: 1440px;
    height: 410px;
    transform-origin: center;
  }
  #st1 {
    position: absolute;
  }
  #scene.active svg {
    transform: translateX(-50%) scale(1);
    transition: all 0.5s ease-out;
  }
}