@import "../../../global";
.shop-by-products {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 0;
    width: 100%;
    .title {
        color: #333333;
        font-size: 30px;
        font-weight: normal;
        line-height: 36px;
        text-align: center;
    }
    .products_list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 16px;
        padding: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.products_list_item {
    padding: 22px;
    border: 1px solid #CCCCCC;

    .item_img {
        height: 80%;

        img {
            width: 100%;
        }
    }

    .item_name {
        color: #333333;
        font-size: 16px;
        line-height: 24px;
    }
    .item_pricing {
        color: #707070;
        font-size: 16px;
        line-height: 24px;
    }
}