.image-autoplay {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 30px;
  .container {
    position: relative;
    width: 50%;
    height: 450px;
    overflow: hidden;
  }
  .slider-image {
    background-image: url(http://creative-html.pnistaging.com/demos/img/image-autoplay.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }
  .desc {
    width: 50%;
    padding-left: 20px;
    .title {
      font-size: 30px;
      font-weight: normal;
      margin-bottom: 24px;
    }
    .content {
      line-height: 24px;
    }
  }
}

.image-autoplay {
  .hotspot {
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    height: 75px;
    position: absolute; // -webkit-transition: opacity .5s ease;
    // transition: opacity .5s ease;
    width: 75px;
    z-index: 1;
    
    &.hs1 {
      left: 15%;
      top: 55%;
      .hotspot-modal {
        left: 0;
        top: -110px;
        &:after {
          left: 25px;
          bottom: -12px;
        }
      }
    }

    &.hs2 {
      right: 26%;
      top: 45%;

      .hotspot-modal {
        left: -30px;
        top: -110px;
        
        &:after {
          left: 55px;
          bottom: -12px;
        }
      }
    }

    .dot-ref {
      height: 100%;
      width: 100%;
      position: relative;
      cursor: default;
      &:hover .dot {
        background-color: #0060a8;
      }
      .dot {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5), 0 0 0 3px rgba(255, 255, 255, 1), 0 0 10px 5px rgba(0, 0, 0, 0.8);
        height: 25px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
      }
    }

    .hotspot-modal {
      background-color: #fff;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
      opacity: 0;
      position: absolute;
      text-align: left;
      min-width: 250px;
      z-index: 2;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
      pointer-events: none;
      &:after {
        background-color: #fff;
        content: '';
        display: block;
        height: 25px;
        width: 25px;
        position: absolute;
        transform: rotate(45deg);
        z-index: -1;
      }
      figure {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        img {
          opacity: 0;
        }
        a {
          color: #0060a8;
        }
      }
    }

    &:hover .hotspot-modal {
      animation-name: bounceInModal;
      animation-duration: 450ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      opacity: 1;
      pointer-events: initial;
      figure {
          img {
              animation-name: bounceInModalImage;
              animation-duration: 450ms;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              animation-delay: 0.05s;
          }
      }
  }
  }
}