@import "../../../global";

#footer {
  @include variable(background-color, --PAGE-BKG, #eee);
}

.footer-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @include variable(max-width, --SITE-WIDTH, 1440px);
  margin: 0 auto;
}

.footer-links {
  padding: 0 10px;

  .footer-subtitle {
    @include variable(color, --FOOTER-SUBTITLE, #333);
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
  
  a {
    @include variable(color, --FOOTER-LINK, #777);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}