#footer {
  background-color: #eee;
}

.footer-list {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-links {

  .footer-subtitle {
    color: #424242;
  }
  
  a {
    color: #777;
    text-decoration: none;
  }
}