@import "../../../global";

#product {
  @include variable(max-width, --SITE-WIDTH, $ie-site-width);
  margin: 0 auto;
}

.product-additional-details {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  @include variable(max-width, --SITE-WIDTH, $ie-site-width);
  margin: 0 auto;
  padding: 0;
  position: relative;

  &:before {
    background: #dfdfdf;
    content: '';
    height: 1px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  li {
    padding: 20px 0;
    text-align: center;
    figure {
      figcaption {
        font-size: 26px;
        padding: 20px 0 10px;
      }
      p {
        line-height: 24px;
      }
      a {
        color: #0060a8;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}